<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css.map">
    <style>
        .form__container {
            display: block;
            width: 100%;
        }

        .form {
            margin: 50px auto;
            width: 350px;
        }

        table {
            margin: 50px auto;

        }

        tr:hover {
            background-color: whitesmoke;
            cursor: pointer;
        }

        input[type="number"] {
            width: 55px;
        }
        .log-out-form {
            font-size: 14px;
            display: block;
            margin: 0 auto;
            width: 350px;
            border: 1px solid black;
            padding: 10px;
        }
        .log-out-btn {
            margin: 0 auto;
            display: block;
        }
    </style>
</head>

<body>
    <section>
        <main>
            <h1 class="title card-footer-item">welcome to e-class <%=teacher_name %></h1>
            <h3 class="title card-footer-item">Students & Grades</h3>
        </main>
        <main class="form__container container">
            <table class="table">
                <thead>
                    <tr>
                        <th><abbr title="No">No</abbr></th>
                        <th><abbr title="Name">Name</abbr></th>
                        <th><abbr title="Semester">Semester</abbr></th>
                        <th><abbr title="Grade">Grade</abbr></th>
                        <th><abbr title="EditGrade">Edit Grade</abbr></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                    </tr>
                </tfoot>
                <tbody>
                    <% for(var i = 0; i < students.length; i++) { %>
                    <tr>
                        <th><%= i+1 %></th>
                        <td><%= students[i].student_name %></td>
                        <td><%= students[i].semester %></td>
                        <td><%= students[i].grade %></td>
                        <td>
                            <form action="/secureApi/dashboard/teacher" method="POST">
                                <input type="text" class="is-hidden" name="student_name"
                                    value="<%= students[i].student_name %>" />
                                <input
                                    id="<%= i %>"
                                    type="number" 
                                    name="grade" 
                                    class="input" 
                                    min="0" 
                                    max="10" 
                                    onblur="validateNumber(this)" />
                                <input type="submit" class="button is-primary" value="Edit" />
                            </form>
                            <p id="warning-msg-<%= i %>" class="is-hidden">
                                <small 
                                    style="float:left;" 
                                    class="help is-danger">
                                    choose 0 between 10!
                                </small>
                            </p>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <form method="POST" action="/api/signOut" class="log-out-form">
                <p class="title card-footer-item">Sign out</p>
                <input type="submit" class="log-out-btn button is-warning" value="Log out"/>
            </form>
        </main>
    </section>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
            function validateNumber(e) {
                var grade = e.value;
                var id = e.id;
                var elName = `warning-msg-${id}`;
                var warningMsg = document.getElementById(elName);
                if (grade > 10 || grade < 0){
                    warningMsg.classList.remove('is-hidden');
                } else {
                    warningMsg.classList.add('is-hidden');
                }
            }

    </script>
</body>

</html>